<?xml version="1.0" encoding="utf-8"?><!--

   Copyright (C) 2016 The Android Open Source Project
   Copyright (C) 2017 Timothy "ZeevoX" Langer

   Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zeevox.octo">

    <uses-feature
        android:name="android.software.live_wallpaper"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:isGame="true"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round">
        <activity
            android:name=".OcquariumActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.android.internal.category.PLATLOGO" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/app_shortcuts" />
        </activity>

        <!-- Screensaver service -->
        <service
            android:name=".screensaver.OcquariumScreensaver"
            android:exported="true"
            android:permission="android.permission.BIND_DREAM_SERVICE">
            <meta-data
                android:name="android.service.dream"
                android:resource="@xml/dream_screensaver" />
            <intent-filter>
                <action android:name="android.service.dreams.DreamService" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <!-- Screensaver preferences activity -->
        <activity
            android:name=".settings.SettingsActivity"
            android:exported="true"
            android:theme="@android:style/Theme.DeviceDefault.Light.DarkActionBar">
            <intent-filter>
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />
                <category android:name="android.intent.category.PREFERENCE" />
            </intent-filter>
        </activity>

        <!-- Live wallpaper service -->
        <service
            android:name=".wallpaper.OcquariumWallpaperService"
            android:enabled="true"
            android:hardwareAccelerated="true"
            android:label="@string/live_wall_name"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/live_wallpaper" />
        </service>
    </application>
</manifest>